.headerNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 66px;
    font-size: 13px;
    background: green;
    color: white;
}
.headerNavLeft {
    width: 50%;
}
.headerNavLeft>span {
    display: flex;
    text-shadow: 0 0 4px black;
    margin-left: 12px;
    font-size: 19px;
    color: white;
    font-weight: 400;
    align-items: center;
}
.headerNavLeft>span>svg {
    color: #def6f9;
}
.siteLogoImage {
    width: 33px;
    height: 33px;
    padding-right: 3px;
}
.headerNavRight {
    position: relative;
    display: flex;
    width: 50%;
    justify-content: flex-end;
    font-size: 18px;
}
