.movieDetailsContainer {
}
.movieGenre {
    margin-top: 0;
}
.moviePlot {
    background: #ffffff;
    margin-top: 0;
}
.moviePlot>h4 {
    padding: 9px 20px;
    text-align: left;
    line-height: 1.6;
}


@media screen and (min-width: 700px) {
    .movieDetailsContainer {
        width: 66%;
        margin: 15px auto;
    }
}