.navigationListContainer>li {
    display: flex;
    margin-top: 18px;
    margin-bottom: 21px;
    margin-left: 21px;
    align-items: flex-end;
}
.navigationListContainer>li>svg {
    color: #7bbdf1;
    padding-right: 3px;
}
.navigationListContainer>li:hover {
    color: lightblue;
}

@media screen and (min-width: 700px){
    .burger__openList>div>li {
        margin-left: 99px;
        margin-right: 99px;
    }
    .navigationListContainer {
        display: flex;
        width: 100%;
        list-style: none;
        justify-content: space-evenly;
    }
    .navigationListContainer>li>svg {
        color: #7bbdf1;
        padding-right: 3px;
    }
    .navigationListContainer>li:hover {
        color: lightblue;
    }
}


