.movieListContainer {
    display: grid;
}

@media screen and (min-width: 699px) {
    .movieListContainer {
        grid-template-columns: auto auto;
    }
}
@media screen and (min-width: 999px) {
    .movieListContainer {
        grid-template-columns: auto auto auto;
    }
}
@media screen and (min-width: 1499px) {
    .movieListContainer {
        grid-template-columns: auto auto auto auto;
    }
}