.movieListContainer {
    display: grid;
    min-height: 100vh;
}

@media screen and (min-width: 699px) {
    .movieListContainer {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 999px) {
    .movieListContainer {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 1499px) {
    .movieListContainer {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}