.burger__openIcon {
    margin-top: 3px;
    margin-right: 12px;
}
.burger__openList {
    position: absolute;
    top: 54px;
    display: flex;
    width: 100vw;
    height: 10vh;
    background: #264e27;
    flex-direction: column;
    min-height: 266px;
    align-items: flex-start;
    list-style: none;
    padding: 18px 0;
}
.burger__close {
    margin-top: 3px;
    margin-right: 12px;
}

@media screen and (min-width: 699px){
    .burger__openList {
        min-height: 165px;
    }
}