.movieMoreDetails {
    display: flex;
    margin: 12px;
    border-radius: 7px;
    width: 100%;
    justify-content: space-around;
}
.movieMoreDetails>p {
    display: flex;
    align-items: center;
    background: #cbe5d8;
    padding: 12px 12px;
    font-size: 12px;
    border-radius: 6px;
}
.movieMoreDetails>p>svg {
    font-size: 15px;
    padding-right: 3px;
}
.movieMoreDetails>a>svg {
    font-size: 15px;
    padding-right: 3px;
}
.movieMoreDetails>a {
    display: flex;
    align-items: center;
    background: #cbe5d8;
    padding: 12px 12px;
    font-size: 12px;
    border-radius: 6px;
}
.movieMoreDetails>p:hover,
.movieMoreDetails>a:hover{
    background: #afc7bb;
}
